/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,600,800");
$base-font: "Work Sans", "Helvetica", "sans-serif";
$header-font: "Work Sans", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #35DA69;

$red: #F63E44;
$blue: #3177FE;
$yellow: #FDB631;
$orange: #E67E22;
$green: #35DA69;
$gray: #000000;
$white: #ffffff;
$black:#404040;
