.todolist-table{
  margin-top: 15px
}

.dashboard-todolist{
  height: 350px;
  width: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 1px 0.5px #000000;
  padding: 15px;
  margin-bottom: 30px
}

.dashboard-notfications{
  text-align: center;
  height: 350px;
  width: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 1px 0.5px #000000;
  padding: 15px;
}

.header-box{
  display: flex;
  justify-content: space-between;
}
.add_button{
}

.user-list-item a {
  text-decoration:none;
  color: $black;
}
#main-college-progress{
  min-height: 290px;
}

.student-info>*{
  color: #505458;
}

#total-tasks-donut text{
  color: #505458;
}


.college-header-bar{
  display:flex;
  justify-content: flex-start;
  align-items: baseline;
}

.college-header-bar-outside{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}

.college-header-bar-item{
  margin: 0px 5px;
}

.tasks-pending{
  font-weight:400;
  // position: absolute;
}

.college-name-dashboard{
  font-size: 22px !important;
}

// .college-category{
//   padding: 2px;
//   border: 1px solid $black;
//   border-radius: 2px;
//   line-height: 1.6px;
// }

