.banner-paper {
  height: 100vh;
  background-repeat: repeat;
  background-image: url('checkpaper-blue35.png');
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
  line-height: 32px;
  }
}

.banner-cover {
  height: 100vh;
  background-size: cover !important;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
  line-height: 32px;
  }
}

.banner-content {
  color: white;
  text-align: center;
  h2 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #020621;
  margin: 10px 250px;
  }
  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin: 20px 250px;
  }
}
.wrapper-white {
  background-color: white;
  padding: 90px 200px;
}
.container-demo-title {
  text-align: center;
}
.container-demo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.container-form-intro {
  max-width: 500px;
  align-self: flex-start;
  h4 {
    line-height: 32px;
  }
}

.container-demo-form {
  min-width: 500px;
  padding: 0px 20px;
  border-radius: 4px;
  margin: 10px;
  background-color: white;
  .btn-rec-out-black {
    border: 1px #404040 solid;
    border-radius: 5px;
    color: #404040;
    padding: 12px 20px;
    background-color: transparent;
    opacity: 0.78;
    transition: background 0.3s ease;
    font-weight: normal;
    margin-top: 30px;
    margin-left: 0;
    &:hover {
      opacity: 1;
    }
  }
}



.container-demo-form ul, .container-demo-form ol {
    margin-top: 0;
    margin-bottom: -5px;
    & a {
      text-decoration: none;
    }
}

#banner-1 {
  background-image: url('grass_students.jpeg');
}
#solid-banner {
  background-color: #F95959;
}
#banner-3 {
  background-image: url('counselor_discussion.jpeg');
}


// this is for the sticky footer //
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
}
