.banner-paper {
  height: 100vh;
  background-repeat: repeat;
  background-image: image-url('checkpaper-blue35.png');
  padding: 50px;
  display: flex;
  align-items: right;
  justify-content: space-around;
  flex-direction: row;
  z-index: 0;
  position: relative;
  h4 {
  line-height: 32px;
  }
}

.banner-cover {
  height: 100vh;
  background-size: cover !important;
  padding: 50px;
  display: flex;
  align-items: center;
  h4 {
  line-height: 32px;
  }
}

.banner-red {
  height: 100vh;
  background-color: #F95959;
  background-size: cover !important;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: relative;
  h4 {
  line-height: 32px;
  }
}

.banner-content {
  color: white;
  text-align: center;
  margin: 10px 10px;
  h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: #020621;
  margin: 0px;
  }
  p {
    font-size: 20px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin: 20px 250px;
  }
}

.banner-content-red {
  text-align: center;
  margin: 10px 10px;
  display: flex;
  align-items: right;
  justify-content: space-around;
  flex-direction: row;
  padding: 0 20px;
}

.content-left {
  color: black;
  text-align: left;
  margin: 10px 10px;
}
.content-center {
  color: black;
  text-align: center;
  margin: 10px 10px;
}
.content-right {
  color: black;
  text-align: right;
  margin: 10px 10px;
}

.wrapper-white {
  background-color: white;
  padding: 90px 200px;
}
.container-demo-title {
  text-align: center;
  h1 {
    color: #F95959;
    font-weight: 600;
    font-size: 42px;
  }
}
.container-demo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.container-form-intro {
  max-width: 500px;
  align-self: flex-start;
  h4 {
    line-height: 32px;
  }
}

.container-demo-form {
  min-width: 500px;
  padding: 0px 20px;
  border-radius: 4px;
  margin: 10px;
  background-color: white;
  .btn-rec-out-black {
    border: 1px #404040 solid;
    border-radius: 5px;
    color: #404040;
    padding: 12px 20px;
    background-color: transparent;
    opacity: 0.78;
    transition: background 0.3s ease;
    font-weight: normal;
    margin-top: 30px;
    margin-left: 0;
    &:hover {
      opacity: 1;
    }
  }
}

.content-feature-one {
  text-align: left;
}

.container-demo-form ul, .container-demo-form ol {
    margin-top: 0;
    margin-bottom: -5px;
    & a {
      text-decoration: none;
    }
}

#conf_msg {
  background-color: gray;
}

#icon-size {
  width: 790px;
}
#logo-outline {
  padding: 0 20px;
}

#position-bottom {
  align-self: flex-end;
}

#call-to-action-btn {
  margin: -10px 0px 0px 0px;
}

#banner-1 {
  padding-top: 150px;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0) 80%), url('broken-pencils.svg');
}

#banner-3 {
  background-image: image-url('counselor_discussion.jpeg');
}

// this is for the sticky footer //
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
}
