.container-fluid.student-header {
  background-color: white;
  min-height: 200px;
  .student-header-top {
    border-bottom: 1px solid #979797;
    height: 99px;
    margin-top: 20px;
  }
  .student-header-bottom {
    height: 100px;
    margin-top: 20px;
  }
}

.student-header-top-content {
  align-items:center
}

.container-student-information{
  padding: 10px;
  margin: 0 auto;
}

.student-header-bottom-name {
}

.student-picture {
  height: 300px;
  padding-left: 70px;
  padding-top: 13px;
  margin: 0 auto;
}

.student-avatar {
  width: 85px;
  height: 85px;
  background-color: gray;
}

.container-profile-content{
  display: flex
}


.container-header-studentprofile{
  padding: 30px;
  height: 300px;
  align-items: center;
}

.button-add-school{
   margin-top: 15px;
   padding-right: 40px;
   a{
    margin-left: 3px;

   }
}
