
<div class="wrapper-form">
  <div class="container-form">
    <%= form_for([@task, @college_app]) do |f| %>
      <%= f.text_field :name %>
      <%= f.date_field :deadline, as: :date_time_picker%>
      <%= f.submit %>
    <% end %>
  </div>
</div>
