  var newTask = $("<tr><td><%= @task.name %></td><td><%= @task.due_date.strftime('%d / %m / %Y') %>"+
    "</td><td></td>"+
    "<td></td></tr>").hide();
  $('#tasks_table').prepend(newTask);
  newTask.slideDown();

 $('#new_task').html("Task added &#128077;")

 // $('#new_task').html("<%= j render 'shared/add_task_form', college_app: @college_app, task: @task")




