rai<h1>Tasks#new</h1>
<div class="wrapper-form">
  <div class="container-form">

  <h2>Create a task</h2>

    <div class="form-inputs">
     <%= render "form" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create" %>
    </div>

  </div>
</div>
