<h1>Tasks#new</h1>
<div class="wrapper-form">
  <div class="container-form">

    <h2 class="text-center">Create a task</h2>

    <div class="form-inputs">
     <%= render "form" %>
    </div>

  </div>
</div>
