<div class="wrapper">
  <div class="container text-center">
    <h1>Hello <%= current_user.name %></h1>
    <p>here are your students</p>
  </div>
  <div class="container">
    <% if @students == nil %>
     <p>nothing</p>
    <% else %>
      <% @students.each do |student| %>
      <div>
        <p><%= link_to "#{student.name}", student_path(student)%></p>
      </div>
      <% end %>
    <% end %>
    <div>
      <%= link_to "add a student", new_student_path, class:"btn-default" %>
    </div>
  </div>

</div>
