<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="dashboard-header">
        <h3><%= @student.name%>'s Schools</h3>
        <p>add progress bar</p>
        <p>add school page button</p>
        <div>
        <% if current_user.is_counselor %>
        <%= link_to "Add a school", new_student_college_app_path(student_id: @student.id), class: "btn-sm" %>
        <% else %>
        <%= link_to "Add a school", new_college_app_path, class: "btn-sm" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="dashboard-todolist">
         <h3>To-Do List</h3>
          <div>
            <table class="table todolist-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Due Date</th>
                  <th>School Page</th>
                </tr>
              </thead>

            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="dashboard-notfications">
          <h3>Notifications</h3>
        </div>
      </div>
  </div>
</div>
