    <div id="footer">
      <ul class="list-inline">
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      </ul>

         <ul class="list-inline">
        <li><a href="#">HOME</a> |</li>
        <li><a href="#">ABOUT US</a> | </li>
        <li><a href="#">CONTACT</a> | </li>
        <li><a href="#">DEMO</a> | </li>
        <li><a href="#">PRICING</a></li>
      </ul>

      <p>My life is built up by bricks; Lego bricks, to be exact.</p>
    </div>
