
<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->


<!-- Landing page navbar -->

    <!-- Switched to Left** -->
    <div class="navbar-wagon-right">
  <!-- Different navigation if login or not -->


    <!-- Login text link -->
    <%= link_to t(".top_call_to_action", default: "Login"), new_user_session_path, class: "navbar-wagon-right btn-rec-out-green btn" %>
    </div>
  <!-- Button (call-to-action) Now on right side of navbar -->
    <h1 class="navbar-text navbar-turtlelogo"> Turtlecamp </h1>
</div>

