
<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->


<!-- Landing page navbar -->

    <!-- Right Navigation -->
     <h1 class="navbar-text navbar-turtlelogo"> Turtlecamp </h1>
    <div class="navbar-wagon-right">
      <!-- Different navigation if login or not -->


        <!-- Login text link -->
        <%= link_to t(".top_call_to_action", default: "Login"), new_user_session_path, class: "navbar-wagon-right btn-rec-green btn" %>
      <!-- Button (call-to-action) -->
    </div>
</div>

