<div class="wrapper-form">
  <div class="container-form">
    <%= form_for([@student, @college_app], url: student_college_apps_path ) do |f| %>
      <%= f.date_field :deadline, as: :date_time_picker%>
      <%= f.select :category, ["REACH", "TARGET", "SAFETY"]%>
      <%= f.submit %>
    </div>
  <% end %>
  </div>
</div>


