<div class="container-fluid student-header">
  <div class="row">

    <div class="col-xs-12 col-sm-2">
      <div class="student-picture">
        <img class="student-avatar img-circle" alt="">
      </div>
    </div>

    <div class="col-xs-12 col-sm-10">
      <div class="student-header-top">
        <div class="student-header-top-content">
          <h4><%= @student.name%></h4>
          <p>more details</p>
        </div>
      </div>
      <div class="student-header-bottom">
        <p>more details</p>
        <% if current_user.is_counselor %>
        <%= link_to "Add a school", new_student_college_app_path(student_id: @student.id), class: "btn-rd-out-black" %>
        <% else %>
        <%= link_to "Add a school", new_college_app_path, class: "btn-rd-out-black" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
