<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="dashboard-header">
        <h3>My Schools</h3>
        <p>add progress bar</p>
        <p>add school page button</p>
        <div><%= link_to "Add a school", "" , class: "btn-sm" %></div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="dashboard-todolist">
         <h3>My To-Do List</h3>
          <div>
            <table class="table todolist-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Due Date</th>
                  <th>School Page</th>
                </tr>
              </thead>

            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="dashboard-notfications">
          <h3>My Notifications</h3>
        </div>
      </div>
  </div>
</div>




      <!-- Student Profile Cards -->

             <!--  <tbody>
                <#% current_student.schools.each do |school|%>
                  <tr class="school-row">
                    <td> <#%= school.name %> </td>
                    <td> <#%= school.category %> </td>
                    <td> <#%= school.status %> </td>
                    <td> <#%= school.due_date %> </td>
                    <#% student = school.student%>
                    <td><#%= link_to "Go", "", class: "btn-sm" %></td>
                  </tr>

                <#% end %>
              </tbody>
 -->
