<div class="banner" id="banner-1">
  <div class="banner-content">
    <h2>Manage your students’ college applications from one location</h2>
    <p>Track deadlines, organize tasks, and communicate with students and parents</p>
    <br>
    <a class="btn btn-rec-green">SIGN UP</a><br>
    <small>Already use TurtleCamp? <a href="#" class="btn-txt">Log in.</a></small>
  </div>
</div>

<div class="banner" id="solid-banner">
  <div class="banner-content">
    <h2>One place, instead of all over the place</h2>
    <p>Keep all of your tasks, deadlines, and documents centralized so you and your students are always on the same page</p>
  </div>
</div>

<div class="banner" id="banner-3">
  <div class="banner-content">
    <h2>Keep parents and students in the know</h2>
    <p>Improve communication and transparency through our message center</p>
  </div>
</div>

<div class="banner" id="solid-banner">
  <div class="banner-content">
    <h2>Motivate students to achieve their goals</h2>
    <p>Our detailed progress bars keep students aware of their tasks, and motivated to meet their deadlines</p>
  </div>
</div>
