.btn-rd-danger {
  border: 2px;
  border-color: white;
  border-radius: 50px;
  color: white;
  padding: 12px 20px;
  background-color: #FE6271;
  margin: 15px;
  opacity: 0.88;
  transition: background 0.3s ease;
  font-weight: normal;
}
.btn-rd-danger:hover {
  opacity: 1;
}

.btn-rd-danger-small{
  border: 2px;
  border-color: white;
  border-radius: 3px;
  color: white;
  padding: 5px 2px;
  background-color: #FE6271;
  margin: 1px;
  opacity: 0.88;
  transition: background 0.3s ease;
  font-weight: normal;
}


.btn-rec-danger-sm{
  border: 2px;
  border-color: white;
  border-radius: 5px;
  color: white;
  background-color: #FE6271;
  opacity: 0.88;
  transition: background 0.3s ease;
  font-weight: normal;
}

.btn-rec-danger-sm:hover {
  opacity: 1;
}




.btn-rd-danger-small:hover{
  opacity:1;
}

.btn-rd-out-white {
  border: 1px white solid;
  border-radius: 50px;
  color: white;
  padding: 12px 20px;
  background-color: transparent;
  margin: 15px;
  opacity: 0.78;
  transition: background 0.3s ease;
  font-weight: normal;
}
.btn-rd-out-white:hover {
  opacity: 1;
}

.btn-rd-out-black {
  border: 1px #404040 solid;
  border-radius: 50px;
  color: #404040;
  padding: 12px 20px;
  background-color: transparent;
  margin: 15px;
  opacity: 0.78;
  transition: background 0.3s ease;
  font-weight: normal;
}
.btn-rd-out-black:hover {
  opacity: 1;
  text-decoration: none;
  color: #404040;
}

.btn-rec-green {
  border: 2px;
  border-radius: 5px;
  color: white;
  padding: 12px 20px;
  background-color: #35DA69;
  margin: 15px;
  opacity: 0.88;
  transition: background 0.3s ease;
  font-weight: normal;
  &:hover {
    opacity: 1;
    color: black;
    background-color: #35DA69;
  }
}
.btn-rec-green-special{
  border: 2px;
  border-radius: 5px;
  color: white;
  padding: 12px 20px;
  background-color: #35DA69;
  opacity: 0.88;
  transition: background 0.3s ease;
  font-weight: normal;
  &:hover {
    opacity: 1;
    color: black;
    background-color: #35DA69;
  }
}

.btn-rec-blue {
  border: 2px;
  border-color: white;
  border-radius: 5px;
  color: white;
  padding: 12px 20px;
  background-color: #4F8DFF;
  margin: 15px;
  opacity: 0.88;
  transition: background 0.3s ease;
  font-weight: normal;
}
.btn-rec-blue:hover {
  opacity: 1;
}

.btn-rec-out-black {
  border: 1px #404040 solid;
  border-radius: 5px;
  color: #404040;
  padding: 12px 20px;
  background-color: transparent;
  margin: 15px;
  opacity: 0.78;
  transition: background 0.3s ease;
  font-weight: normal;
}
.btn-rec-out-black:hover {
  opacity: 1;
}
// this small button needs btn class //
.btn-rec-green-sm {
  border: 2px;
  border-color: white;
  border-radius: 5px;
  color: white;
  background-color: #35DA69;
  opacity: 0.88;
  transition: background 0.3s ease;
  font-weight: normal;
}

.btn-txt {
  padding: 0px 2px;
  background: #dedddd;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid #233142;
  text-transform: uppercase;
  margin: 0px 2px;
  font-size: 12px;
  font-weight: initial;
  opacity: 0.78;
  transition: background 0.3s ease;
}
.btn-txt:hover {
  opacity: 1;
}


.btn-rec-yellow-sm {
  border: 2px;
  border-color: white;
  border-radius: 5px;
  color: white;
  background-color: #FBCA35;
  opacity: 0.88;
  transition: background 0.3s ease;
  font-weight: normal;
}
.btn-rec-yellow-sm:hover {
  opacity: 1;
}

.btn-rec-signup {
  border: 2px;
  border-radius: 5px;
  color: white;
  padding: 12px 20px;
  background-color: #35DA69;
  margin: 15px;
  opacity: 0.88;
  transition: background 0.3s ease;
  font-weight: normal;
  width: 100%;
  margin-left: 0px;
  &:hover {
    opacity: 1;
    color: black;
    background-color: #35DA69;
  }
}
