.wrapper-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $white;
  margin-top: 80px;
  padding-bottom: 30px
}

.wrapper-form-log-in{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  padding: 60px
}

.wrapper-form-add-app{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  padding: 20px
}

.wrapper-form-forgot-password{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 140px;
  padding: 50px

}


.wrapper-form-new-counselor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  padding: 20px
}

.wrapper-form-add-student {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding: 20px
}

.wrapper-form-onboarding-student {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  padding: 20px
}

.container-form {
  padding: 20px;
  border-radius: 6px;
  margin: 20px;
  background-color: white;
}
.container-form ul, .container-form ol {
    margin-top: 0;
    margin-bottom: -5px;
    & a {
      text-decoration: none;
    }
}

.container-new-student-form{
  width: 300px;
  // height: 0 auto;
  padding: 0px;
  margin : 0px auto;
}


.form-inputs{
  text-align: left;
}

.form-input-box {
  width: 100%;
  border-radius: 5px;
  height: 38px;
  border: solid 1px #d3d5dc;
  margin-top: 5px;
  padding: 7px 12px;
}

.btn-submit-padding{
  padding-top: 20px;
}

.form-input-box-app {
  width: 50%;
  border-radius: 5px;
  height: 38px;
  border: solid 1px #d3d5dc;
  margin-top: 5px;
  text-align: center;
  padding-left: 50px
}

.container-header-content{
  width: 450px

}


.form-input-box:hover {
  border: solid 1px #4EDE7B
}

.colleges-box {
  width: 100%;
  border-radius: 5px;
  height: 80px;
  border: solid 1px #d3d5dc;
  margin-top: 5px;
  padding: 7px 12px;
  overflow: hidden;
  overflow-y: scroll;
}


.form-groups{
  margin-bottom: 10px;
  font-weight: bold;

}

.form-groups-font-light{
  margin-bottom: 10px;
  font-weight: light;
  text-align: center

}

.form-actions{
  text-align: center;

  input{
  margin-top: 20px
  }
}

.submit-login{
  border: 2px;
  border-color: white;
  border-radius: 5px;
  color: white;
  padding: 12px 20px;
  background-color: #35DA69;
  margin: 15px;
  opacity: 0.88;
  transition: background 0.3s ease;
  font-weight: normal;
  width: 100%
}

.submit-login:hover{
  opacity: 1;
}

.devise-form-input{
  width: 100%
}

.devise-form-container{
  width: 300px;
  padding: 0px;
  margin: 0px auto
}

.edit-form-button{
  border: 2px;
  border-radius: 5px;
  color: white;
  padding: 12px 20px;
  background-color: #35DA69;
  margin: 15px;
  opacity: 0.88;
  transition: background 0.3s ease;
  font-weight: normal;
  width: 100%;
  &:hover{
    color: black;
    background-color: #35DA69;
  }
}

#button-edit-user:hover {
  background-color: #35DA69;
}


.new-app-form-container{
  width: 0px auto;
  padding: 0px;
  margin: 0px auto;
}

.form-field{
padding-bottom: 10px;
}

.form-field-last{
padding-top: 5px;
padding-bottom: 10px;
}

#devise-sign-up {
  float: right;
  color: gray;
  &:hover {
    color: #4EDE7B;
    text-decoration: none;
  }
}

#devise-forgot {
  float: left;
    color: gray;
  &:hover {
    color: #4EDE7B;
    text-decoration: none;
  }
}

#devise-log-in {
  color: gray;
  float: leftt;
  &:hover {
    color: #4EDE7B;
    text-decoration: none;
  }
}


.for-form-cancel-account{
float: left;
color: gray;
&:hover {
color: #4EDE7B;
text-decoration: none
  }
}
